Microsoft.Flow/flows/a201a13b-5bc0-46b0-84e7-8c300b95cd99/definition.json
{"name":"f7074aea-8102-457a-8f0b-8972aa8c923e","id":"/providers/Microsoft.Flow/flows/f7074aea-8102-457a-8f0b-8972aa8c923e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Employee Onboard","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d3a3bf9d-1caa-4044-8b94-1386f3df8038","type":"User","tenantId":"eba50d69-2c28-44c4-8664-88f8442ea6e6"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-16T23:24:23.8337428Z","connectionKeySavedTimeKey":"2024-09-16T23:24:23.8337428Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"Test"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"@triggerOutputs()?['body/resourceData/responseId']","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Generate_Password":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Password","type":"string","value":"Trx@{rand(10000,99999)}"}]}},"Set_Mail_Nickname":{"runAfter":{"Generate_Password":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mail Nick Name","type":"string","value":"@split(body('Get_response_details')?['r5f3b4de3ad80456da9a3fa27ec0e70e0'],'@')[0]"}]}},"Distribution_Groups":{"runAfter":{"Set_Mail_Nickname":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Distribution Groups","type":"array"}]}},"Get_Manager":{"runAfter":{"Distribution_Groups":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@body('Get_response_details')?['rf8a5b25ce56b45619b7568a9c3d02b99']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"GetUser"},"authentication":"@parameters('$authentication')"}},"Create_user":{"runAfter":{"Get_Manager":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/accountEnabled":true,"body/displayName":"@body('Get_response_details')?['rb4c386fe137c453ab20c574c851b5ce2']","body/mailNickname":"@variables('Mail Nick Name')","body/passwordProfile/password":"@variables('Password')","body/userPrincipalName":"@body('Get_response_details')?['r5f3b4de3ad80456da9a3fa27ec0e70e0']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"CreateUser"},"authentication":"@parameters('$authentication')"}},"Assign_manager":{"runAfter":{"Create_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/@odata.id":"@outputs('Get_Manager')?['body/id']","id":"@outputs('Create_user')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"AssignManager"},"authentication":"@parameters('$authentication')"}},"Assign_License":{"runAfter":{"Create_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/@odata.id":"@outputs('Create_user')?['body/id']","id":"766dc3ae-f192-4061-9c8f-0b974f551e48"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"AddUserToGroup"},"authentication":"@parameters('$authentication')"}},"Send_Email_to_Manager_or_HR":{"runAfter":{"Create_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"support@tminus365.com","emailMessage/To":"@outputs('Get_Manager')?['body/mail']","emailMessage/Subject":"You have been assinged as the manager for a new user","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{outputs('Get_Manager')?['body/displayName']},</p><br><p class=\"editor-paragraph\">The new user, @{outputs('Create_user')?['body/displayName']}, has been successfully added to our organization's directory. You have been assigned the manager of the user.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Please find the user's credentials below:</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">UserName: @{outputs('Create_user')?['body/userPrincipalName']}</p><p class=\"editor-paragraph\">Password: @{variables('Password')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">You can share the credentials to the user and guide them for further procedures.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Regards,</p><p class=\"editor-paragraph\">IT</p>","emailMessage/Sensitivity":"7483787f-9856-42bc-830d-b341f31819cf","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{"Assign_License":["Succeeded"],"Assign_manager":["Succeeded"],"Send_Email_to_Manager_or_HR":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}},"Update_user":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Create_user')?['body/id']","body/jobTitle":"@body('Get_response_details')?['ra5fcaab4fe0d43b39c983295bf35e581']","body/department":"@body('Get_response_details')?['rb2f66cb59eef4060a2bff518971b8cb7']","body/mobilePhone":"@body('Get_response_details')?['r1c0d8a2fe453432c8dda11c6c30ebd71']","body/customProperties":{"employeeHireDate":"@{body('Get_response_details')?['ra33fc7f6a53440ad9769241a11991958']}"}},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"UpdateUser"},"authentication":"@parameters('$authentication')"}},"Get_Groups_of_Mirrored_User":{"runAfter":{"Update_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@body('Get_response_details')?['r0ff34562726548188fef481a3017bd49']","body/securityEnabledOnly":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"GetMemberGroupsV2"},"authentication":"@parameters('$authentication')"}},"Did_any_groups_return":{"actions":{"Loop_Through_Groups":{"foreach":"@outputs('Get_Groups_of_Mirrored_User')?['body/value']","actions":{"Get_group":{"type":"OpenApiConnection","inputs":{"parameters":{"id":"@items('Loop_Through_Groups')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"GetGroup"},"authentication":"@parameters('$authentication')"}},"Check_For_Dynamic_Group":{"actions":{},"runAfter":{"Get_group":["Succeeded"]},"else":{"actions":{"Check_for_Distibution_Group":{"actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"Distribution Groups","value":"@outputs('Get_group')?['body/displayName']"}}},"else":{"actions":{"Get_group_members":{"type":"OpenApiConnection","inputs":{"parameters":{"id":"@items('Loop_Through_Groups')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"GetGroupMembers"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Get_group_members":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_group_members')?['body/value']","where":"@equals(item()?['userPrincipalName'],outputs('Create_user')?['body/userPrincipalName'])"}},"See_if_user_not_in_group":{"actions":{"Add_user_to_group_1":{"type":"OpenApiConnection","inputs":{"parameters":{"body/@odata.id":"@outputs('Create_user')?['body/id']","id":"@items('Loop_Through_Groups')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"AddUserToGroup"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@length(body('Filter_array'))",0]}]},"type":"If"}}},"expression":{"and":[{"equals":["@length(outputs('Get_group')?['body/groupTypes'])",0]},{"equals":["@outputs('Get_group')?['body/securityEnabled']",false]}]},"type":"If"}}},"expression":{"and":[{"contains":["@outputs('Get_group')?['body/groupTypes']","DynamicMembership"]}]},"type":"If"}},"type":"Foreach"}},"runAfter":{"Get_Groups_of_Mirrored_User":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"greater":["@length(outputs('Get_Groups_of_Mirrored_User')?['body/value'])",0]}]},"type":"If"},"Biz_Apps":{"runAfter":{"Did_any_groups_return":["Succeeded"]},"type":"Compose","inputs":"@json(body('Get_response_details')?['r7d43099a60dc45c88fce356128ed23bd'])"},"Loop_over_Business_Systems":{"foreach":"@outputs('Biz_Apps')","actions":{"Switch":{"cases":{"Salesforce":{"case":"Salesforce","actions":{}},"QuickBooks_Online":{"case":"QuickBooks Online\n","actions":{}}},"default":{"actions":{}},"expression":"@items('Loop_over_Business_Systems')","type":"Switch"}},"runAfter":{"Biz_Apps":["Succeeded"]},"type":"Foreach"},"Create_a_Ticket":{"runAfter":{"Loop_over_Business_Systems":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"support@tminus365.com","emailMessage/To":"support@t","emailMessage/Subject":"New User Creation-<Insert Company Name> - @{outputs('Create_user')?['body/displayName']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hello,</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">A new user onboarding form has been submitted. The user has been created in Microsoft 365 with the following details:</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">&lt;Add Dynamic Details here&gt;</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"></p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}},"Delay_Until":{"runAfter":{"Create_a_Ticket":["Succeeded"]},"type":"Wait","inputs":{"until":{"timestamp":"@convertToUtc(body('Get_response_details')?['ra33fc7f6a53440ad9769241a11991958'],'Mountain Standard Time')"}}},"Welcome_Email-Work_":{"runAfter":{"Delay_Until":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"support@tminus365.com","emailMessage/To":"msp4msps@tminus365.com","emailMessage/Subject":"Welcome to Tminus365","emailMessage/Body":"\n\n\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n        }\n        .container {\n            background-color: #f9f9f9;\n            padding: 20px;\n            border-radius: 8px;\n        }\n        .header {\n            font-size: 20px;\n            font-weight: bold;\n            color: #0078D4;\n            margin-bottom: 20px;\n        }\n        .content {\n            margin-bottom: 20px;\n        }\n        .footer {\n            font-size: 12px;\n            color: #777;\n        }\n        .cta-button {\n            display: inline-block;\n            background-color: #0078D4;\n            color: #ffffff;\n            padding: 10px 20px;\n            text-decoration: none;\n            border-radius: 5px;\n            margin-top: 20px;\n        }\n    </style>\n\n\n    <div class=\"container\">\n        <div class=\"header\">\n            Multi-Factor Authentication Setup\n        </div>\n        <div class=\"content\">\n            <p>Hi <strong>@{outputs('Create_user')?['body/displayName']}</strong>,</p>\n            <p>You are required to set up <strong>Multi-Factor Authentication (MFA)</strong> for enhanced security. Please follow the link below to complete the setup process:</p>\n            <p><a class=\"cta-button\" href=\"https://aka.ms/MFASetup\">Complete MFA Setup</a></p>\n            <p>After clicking the link, you will be guided to scan a <strong>QR code</strong> using the <strong>Microsoft Authenticator app</strong>. This will complete the setup of your multi-factor authentication.</p>\n            <p>If you need any assistance, feel free to contact our support team.</p>\n            <p>Best regards,<br>[Your IT Team]</p>\n        </div>\n        <div class=\"footer\">\n            <p><strong>[Your Company Name]</strong> | IT Department<br>\n            <strong>Support:</strong> <a href=\"mailto:support@yourcompany.com\">support@yourcompany.com</a><br>\n            <strong>Phone:</strong> (123) 456-7890</p>\n        </div>\n    </div>\n\n\n","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-312f4ccb-e504-474c-9774-d7eb-68a6d293","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_azuread":{"connectionName":"c17a48c3c3214102a5326192226d1701","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_azuread","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-18fc350e-c43f-4c30-8085-01f3076f21e1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}